In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
import textblob

nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/nitanshjain/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
tweets_df = pd.read_csv('/Users/nitanshjain/Documents/Thapar 4th Sem/Machine Learing/Machine_Learning_Project/data/tweets_preprocessed_1.csv')
tweets_df.head()

,user_id,tweet_id,username,location,following,followers,twt_created_at,total_tweets,retweet_count,text,hashtags,mentions,tweet_id_dup
0,1.113370e+18,1.589270e+18,LifestyleVishnu,"Ambikapur, India",304,286,2022-11-06 15:04:46+00:00,5764,0,india demanding arrest deepak chaurasia pocso ...,"[{'text': 'NoActionOnArrestWarrant', 'indices'...","[{'screen_name': 'AjayHimatlal', 'name': 'Ajay...",1.589273e+18
1,2.249900e+09,1.589270e+18,prkgarg,GLOBE,709,203,2022-11-06 15:04:40+00:00,24799,0,get vote gujarat soon entire gang jail looting...,[],"[{'screen_name': 'ArvindKejriwal', 'name': 'Ar...",1.589273e+18
2,7.808170e+17,1.589270e+18,SunilBhatM,"New Delhi, India",930,2284,2022-11-06 15:04:38+00:00,8235,0,magnificent visited pradhan manthri sangrahala...,[],"[{'screen_name': 'narendramodi', 'name': 'Nare...",1.589273e+18
3,1.388460e+18,1.589270e+18,veerappavenkap1,"Bengaluru, India",4924,5453,2022-11-06 15:03:55+00:00,53735,0,almost year bjp ruled gujarat chacha still tal...,[],"[{'screen_name': 'PTI_News', 'name': 'Press Tr...",1.589272e+18
4,1.469320e+18,1.589270e+18,MukeshS68108786,NaN,173,903,2022-11-06 15:00:20+00:00,14241,2,time gurugram police come action money minded ...,"[{'text': 'NoActionOnArrestWarrant', 'indices'...","[{'screen_name': 'AJAYGUP69169747', 'name': 'A...",1.589271e+18

In [3]:
def get_textblob_sentiment(df):
    polarities = list()
    # subj = list()
    for tweets in df.loc[:,'text']:
        # print(type(tweets))
        testimonial = textblob.TextBlob(str(tweets))
        polarity = testimonial.sentiment.polarity
        polarities.append(polarity)
        # subjectivity = testimonial.sentiment.subjectivity
        # subj.append(subjectivity)
    
    df['textblob_polarity'] = polarities
    # df['textblob_subjectivity'] = subj
    
    return df

In [4]:
tweets_df = get_textblob_sentiment(tweets_df)

In [5]:
def get_nltk_sentiment(df):
    sia  = SentimentIntensityAnalyzer()
    compound = list()
    for tweets in df.loc[:,'text']:
        try:
            compound.append(sia.polarity_scores(tweets)['compound'])
        except:
            compound.append(-100)
    df['nltk_compound'] = compound
    return df

In [6]:
tweets_df = get_nltk_sentiment(tweets_df)

In [7]:
def get_avg_sentiment(df):
    df['avg_sentiment'] = (df['textblob_polarity'] + df['nltk_compound'])/2
    return df

In [8]:
tweets_df = get_avg_sentiment(tweets_df)

In [9]:
def get_textblob_sentiment_label(df):
    sentiment = list()
    for polarity in df.loc[:,'textblob_polarity']:
        if polarity > 0:
            sentiment.append(1)
        elif polarity == 0:
            sentiment.append(0)
        else:
            sentiment.append(-1)
    
    df['textblob_sentiment'] = sentiment
    
    return df

In [10]:
tweets_df = get_textblob_sentiment_label(tweets_df)

In [11]:
def get_nltk_label_sentiment(df):
    sentiment = list()
    for compound in df.loc[:,'nltk_compound']:
        if compound == -100:
            sentiment.append(np.nan)
        elif compound > 0:
            sentiment.append(1)
        elif compound == 0:
            sentiment.append(0)
        else:
            sentiment.append(-1)
    
    df['nltk_sentiment'] = sentiment
    return df

In [12]:
tweets_df = get_nltk_label_sentiment(tweets_df)

In [13]:
def get_avg_label_sentiment(df):
    sentiment = list()
    for compound in df.loc[:,'avg_sentiment']:
        if compound > 0:
            sentiment.append(1)
        elif compound == 0:
            sentiment.append(0)
        else:
            sentiment.append(-1)
    
    df['avg_sentiment'] = sentiment
    return df

In [14]:
tweets_df = get_avg_label_sentiment(tweets_df)

In [15]:
tweets_df.head()

,user_id,tweet_id,username,location,following,followers,twt_created_at,total_tweets,retweet_count,text,hashtags,mentions,tweet_id_dup,textblob_polarity,nltk_compound,avg_sentiment,textblob_sentiment,nltk_sentiment
0,1.113370e+18,1.589270e+18,LifestyleVishnu,"Ambikapur, India",304,286,2022-11-06 15:04:46+00:00,5764,0,india demanding arrest deepak chaurasia pocso ...,"[{'text': 'NoActionOnArrestWarrant', 'indices'...","[{'screen_name': 'AjayHimatlal', 'name': 'Ajay...",1.589273e+18,-0.050000,-0.8750,-1,-1,-1
1,2.249900e+09,1.589270e+18,prkgarg,GLOBE,709,203,2022-11-06 15:04:40+00:00,24799,0,get vote gujarat soon entire gang jail looting...,[],"[{'screen_name': 'ArvindKejriwal', 'name': 'Ar...",1.589273e+18,-0.050000,0.0000,-1,-1,0
2,7.808170e+17,1.589270e+18,SunilBhatM,"New Delhi, India",930,2284,2022-11-06 15:04:38+00:00,8235,0,magnificent visited pradhan manthri sangrahala...,[],"[{'screen_name': 'narendramodi', 'name': 'Nare...",1.589273e+18,0.386667,0.8807,1,1,1
3,1.388460e+18,1.589270e+18,veerappavenkap1,"Bengaluru, India",4924,5453,2022-11-06 15:03:55+00:00,53735,0,almost year bjp ruled gujarat chacha still tal...,[],"[{'screen_name': 'PTI_News', 'name': 'Press Tr...",1.589272e+18,0.000000,0.0000,0,0,0
4,1.469320e+18,1.589270e+18,MukeshS68108786,NaN,173,903,2022-11-06 15:00:20+00:00,14241,2,time gurugram police come action money minded ...,"[{'text': 'NoActionOnArrestWarrant', 'indices'...","[{'screen_name': 'AJAYGUP69169747', 'name': 'A...",1.589271e+18,0.183333,-0.6486,-1,1,-1

In [16]:
tweets_df.to_csv('/Users/nitanshjain/Documents/Thapar 4th Sem/Machine Learing/Machine_Learning_Project/data/sentiment.csv')

In [17]:
tweets_df['textblob_sentiment'].value_counts()

 1    705
 0    465
-1    404
Name: textblob_sentiment, dtype: int64

In [18]:
tweets_df['nltk_sentiment'].value_counts()

 1    798
-1    538
 0    238
Name: nltk_sentiment, dtype: int64

In [19]:
tweets_df['avg_sentiment'].value_counts()

 1    861
-1    580
 0    133
Name: avg_sentiment, dtype: int64