In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
import textblob

In [3]:
tweets_df = pd.read_csv('/Users/nitanshjain/Documents/Thapar 4th Sem/Machine Learing/Machine_Learning_Project/data/tweets_preprocessed_1.csv')
tweets_df.head()

,user_id,tweet_id,username,location,following,followers,twt_created_at,total_tweets,retweet_count,text,hashtags,mentions
0,8.718725e+08,1.588940e+18,PuriVirender,NaN,174046,312147,2022-11-05 16:50:28+00:00,133589,0,keep domestic waste reach keep home dispose do...,"[{'text': 'JustAsking', 'indices': [152, 163]}]","[{'screen_name': 'ArvindKejriwal', 'name': 'Ar..."
1,1.415220e+18,1.588930e+18,lcsmindia,NaN,65,31,2022-11-05 16:43:12+00:00,2019,0,incentive wrong wrong punished right victimize...,[],"[{'screen_name': 'RoadsOfMumbai', 'name': 'Roa..."
2,1.520580e+18,1.588890e+18,ManjuDansena,"Bilaspur, Chhattisgarh, India",100,122,2022-11-05 14:03:51+00:00,987,7,day pre camp guru ghasidas viswavidyalaya bila...,"[{'text': 'NSSPreRDCentralZone', 'indices': [1...","[{'screen_name': 'nssggcuCG', 'name': 'NSS Gur..."
3,3.859413e+09,1.588870e+18,ashokkumar27091,Saharanpur India,6,25,2022-11-05 12:44:36+00:00,3015,0,bihar growth maharashtra growth gst see size s...,[],"[{'screen_name': 'raj80697994', 'name': 'rajðŸ‡®ðŸ‡³..."
4,1.843117e+08,1.588860e+18,pritish_2,"à¤…à¤®à¥ƒà¤¤à¤¸à¤°, à¤­à¤¾à¤°à¤¤",154,12,2022-11-05 12:04:27+00:00,17,0,difficult breathing amritsar get fresh air bre...,[],"[{'screen_name': 'BhagwantMann', 'name': 'Bhag..."

In [5]:
def get_sentiment(df):
    polarities = list()
    subj = list()
    for tweets in df.loc[:,'text']:
        testimonial = textblob.TextBlob(tweets)
        polarity = testimonial.sentiment.polarity
        polarities.append(polarity)
        subjectivity = testimonial.sentiment.subjectivity
        subj.append(subjectivity)
    
    df['polarity'] = polarities
    df['subjectivity'] = subj
    
    return df

In [6]:
tweets_df = get_sentiment(tweets_df)

In [7]:
tweets_df.shape

(31, 14)

In [9]:
def get_sentiment_label(df):
    sentiment = list()
    for polarity in df.loc[:,'polarity']:
        if polarity > 0:
            sentiment.append(1)
        elif polarity == 0:
            sentiment.append(0)
        else:
            sentiment.append(-1)
    
    df['sentiment'] = sentiment
    
    return df

In [10]:
tweets_df = get_sentiment_label(tweets_df)

In [11]:
tweets_df.head()

,user_id,tweet_id,username,location,following,followers,twt_created_at,total_tweets,retweet_count,text,hashtags,mentions,polarity,subjectivity,sentiment
0,8.718725e+08,1.588940e+18,PuriVirender,NaN,174046,312147,2022-11-05 16:50:28+00:00,133589,0,keep domestic waste reach keep home dispose do...,"[{'text': 'JustAsking', 'indices': [152, 163]}]","[{'screen_name': 'ArvindKejriwal', 'name': 'Ar...",-0.100000,0.050000,-1
1,1.415220e+18,1.588930e+18,lcsmindia,NaN,65,31,2022-11-05 16:43:12+00:00,2019,0,incentive wrong wrong punished right victimize...,[],"[{'screen_name': 'RoadsOfMumbai', 'name': 'Roa...",-0.178571,0.583929,-1
2,1.520580e+18,1.588890e+18,ManjuDansena,"Bilaspur, Chhattisgarh, India",100,122,2022-11-05 14:03:51+00:00,987,7,day pre camp guru ghasidas viswavidyalaya bila...,"[{'text': 'NSSPreRDCentralZone', 'indices': [1...","[{'screen_name': 'nssggcuCG', 'name': 'NSS Gur...",0.000000,0.000000,0
3,3.859413e+09,1.588870e+18,ashokkumar27091,Saharanpur India,6,25,2022-11-05 12:44:36+00:00,3015,0,bihar growth maharashtra growth gst see size s...,[],"[{'screen_name': 'raj80697994', 'name': 'rajðŸ‡®ðŸ‡³...",0.000000,0.000000,0
4,1.843117e+08,1.588860e+18,pritish_2,"à¤…à¤®à¥ƒà¤¤à¤¸à¤°, à¤­à¤¾à¤°à¤¤",154,12,2022-11-05 12:04:27+00:00,17,0,difficult breathing amritsar get fresh air bre...,[],"[{'screen_name': 'BhagwantMann', 'name': 'Bhag...",-0.100000,0.750000,-1

In [15]:
tweets_df['sentiment'].value_counts()

 0    12
 1    12
-1     7
Name: sentiment, dtype: int64