In [24]:
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context

nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [45]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
import textblob

nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/arjunkhanchandani/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [46]:
tweets_df = pd.read_csv('/Users/arjunkhanchandani/Desktop/twitter_data_analysis-main/data/final_dataset.csv')
tweets_df.head()

,user_id,tweet_id,username,location,following,followers,twt_created_at,total_tweets,retweet_count,text,hashtags,mentions
0,2,2,pspatilsbi,Bangalore,325,25,2022-11-08 22:08:44+00:00,2704,0,agenda great old god blees end,[],"[{'screen_name': 'INCIndia', 'name': 'Congress..."
1,3,3,ththegde,"Kandivali East, Mumbai",582,57,2022-11-08 22:00:49+00:00,1969,0,please allow citizen buy forex investment like...,[],"[{'screen_name': 'PMOIndia', 'name': 'PMO Indi..."
2,5,5,rupz_boruah,"Chabua, India",14,33,2022-11-08 21:54:37+00:00,309,0,please take necessary action neurologist amc d...,"[{'text': 'Dr_Dhrubajyoti_Kurmi', 'indices': [...","[{'screen_name': 'MoHFW_INDIA', 'name': 'Minis..."
3,8,8,lazizpizza99,"Jasola Vihar, New Delhi",23,1,2022-11-08 21:28:48+00:00,6,0,sleeping suddenly bed start shaking ignored ke...,"[{'text': 'peace', 'indices': [231, 237]}, {'t...","[{'screen_name': 'LtGovDelhi', 'name': 'LG Del..."
4,11,11,UtkarshMishra_9,"Noida, India",707,1122,2022-11-08 21:14:55+00:00,5764,0,estimated magnitude earthquake affected countr...,"[{'text': 'earthquake', 'indices': [137, 148]}...","[{'screen_name': 'ANI', 'name': 'ANI', 'id': 3..."

In [47]:
def get_textblob_sentiment(df):
    polarities = list()
    # subj = list()
    for tweets in df.loc[:,'text']:
        # print(type(tweets))
        testimonial = textblob.TextBlob(str(tweets))
        polarity = testimonial.sentiment.polarity
        polarities.append(polarity)
        # subjectivity = testimonial.sentiment.subjectivity
        # subj.append(subjectivity)
    
    df['textblob_polarity'] = polarities
    # df['textblob_subjectivity'] = subj
    
    return df

In [48]:
tweets_df = get_textblob_sentiment(tweets_df)

In [49]:
def get_nltk_sentiment(df):
    sia  = SentimentIntensityAnalyzer()
    compound = list()
    for tweets in df.loc[:,'text']:
        try:
            compound.append(sia.polarity_scores(tweets)['compound'])
        except:
            compound.append(-100)
    df['nltk_compound'] = compound
    return df

In [50]:
tweets_df = get_nltk_sentiment(tweets_df)

In [51]:
def get_avg_sentiment(df):
    df['avg_sentiment'] = (df['textblob_polarity'] + df['nltk_compound'])/2
    return df

In [52]:
tweets_df = get_avg_sentiment(tweets_df)

In [53]:
def get_textblob_sentiment_label(df):
    sentiment = list()
    for polarity in df.loc[:,'textblob_polarity']:
        if polarity > 0:
            sentiment.append(1)
        elif polarity == 0:
            sentiment.append(0)
        else:
            sentiment.append(-1)
    
    df['textblob_sentiment'] = sentiment
    
    return df

In [54]:
tweets_df = get_textblob_sentiment_label(tweets_df)

In [55]:
def get_nltk_label_sentiment(df):
    sentiment = list()
    for compound in df.loc[:,'nltk_compound']:
        if compound == -100:
            sentiment.append(np.nan)
        elif compound > 0:
            sentiment.append(1)
        elif compound == 0:
            sentiment.append(0)
        else:
            sentiment.append(-1)
    
    df['nltk_sentiment'] = sentiment
    return df

In [56]:
tweets_df = get_nltk_label_sentiment(tweets_df)

In [57]:
def get_avg_label_sentiment(df):
    sentiment = list()
    for compound in df.loc[:,'avg_sentiment']:
        if compound > 0:
            sentiment.append(1)
        elif compound == 0:
            sentiment.append(0)
        else:
            sentiment.append(-1)
    
    df['avg_sentiment'] = sentiment
    return df

In [58]:
tweets_df = get_avg_label_sentiment(tweets_df)

In [59]:
tweets_df.head()

,user_id,tweet_id,username,location,following,followers,twt_created_at,total_tweets,retweet_count,text,hashtags,mentions,textblob_polarity,nltk_compound,avg_sentiment,textblob_sentiment,nltk_sentiment
0,2,2,pspatilsbi,Bangalore,325,25,2022-11-08 22:08:44+00:00,2704,0,agenda great old god blees end,[],"[{'screen_name': 'INCIndia', 'name': 'Congress...",0.450000,0.7351,1,1,1
1,3,3,ththegde,"Kandivali East, Mumbai",582,57,2022-11-08 22:00:49+00:00,1969,0,please allow citizen buy forex investment like...,[],"[{'screen_name': 'PMOIndia', 'name': 'PMO Indi...",0.000000,0.8020,1,0,1
2,5,5,rupz_boruah,"Chabua, India",14,33,2022-11-08 21:54:37+00:00,309,0,please take necessary action neurologist amc d...,"[{'text': 'Dr_Dhrubajyoti_Kurmi', 'indices': [...","[{'screen_name': 'MoHFW_INDIA', 'name': 'Minis...",0.033333,0.6369,1,1,1
3,8,8,lazizpizza99,"Jasola Vihar, New Delhi",23,1,2022-11-08 21:28:48+00:00,6,0,sleeping suddenly bed start shaking ignored ke...,"[{'text': 'peace', 'indices': [231, 237]}, {'t...","[{'screen_name': 'LtGovDelhi', 'name': 'LG Del...",0.198333,0.6597,1,1,1
4,11,11,UtkarshMishra_9,"Noida, India",707,1122,2022-11-08 21:14:55+00:00,5764,0,estimated magnitude earthquake affected countr...,"[{'text': 'earthquake', 'indices': [137, 148]}...","[{'screen_name': 'ANI', 'name': 'ANI', 'id': 3...",0.000000,-0.1531,-1,0,-1

In [60]:
tweets_df.to_csv('/Users/arjunkhanchandani/Desktop/twitter_data_analysis-main/data/final_sentiment_analysis.csv')

In [61]:
tweets_df['textblob_sentiment'].value_counts()

 1    321
-1    187
 0    150
Name: textblob_sentiment, dtype: int64

In [62]:
tweets_df['nltk_sentiment'].value_counts()

 1    389
-1    181
 0     88
Name: nltk_sentiment, dtype: int64

In [63]:
tweets_df['avg_sentiment'].value_counts()

 1    421
-1    198
 0     39
Name: avg_sentiment, dtype: int64